.easy-flow {
  background-repeat: repeat;
  user-select: none;
}
.easy-flow-node {
  cursor: pointer;
}
.easy-flow-clarify-rect {
  fill: red;
  stroke: #eeeeee;
  color: red;
}
.easy-flow-clarify-text {
  color: #fff;
}
