.easy-flow {
  background-repeat: repeat;
  user-select: none;
}
.easy-flow__header {
  display: flex;
  font-size: 14px;
  color: #666;
  height: 40px;
}
.easy-flow__header--item {
  text-align: center;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  user-select: none;
}

.easy-flow__header--item i {
  font-size: 12px;
  padding: 0 2px;
}

.easy-flow-node {
  cursor: pointer;
}
.easy-flow-clarify-rect {
  fill: red;
  stroke: #eeeeee;
  color: red;
}
.easy-flow-clarify-text {
  color: #fff;
}
